Source: banana
Section: web
Priority: optional
Maintainer: Pierre Habouzit <madcoder@debian.org>
Standards-Version: 3.6.1
Build-Depends-Indep: cdbs, debhelper (>= 4.1.16)

Package: php-banana
Architecture: all
Depends: php5-cli
Recommends: compface, imagemagick, php5-tidy
Description: php library aimed to write NNTP <-> Web gateways
 .
 Homepage: http://opensource.polytechnique.org/banana/

